@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  position: relative;
  background-color: #26ae61;
  padding: 0.5rem 3rem;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px #00003f;
  z-index: 0;
}

.button::before {
  content: "";
  background-color: #03651d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.8s;
  z-index: -1;
}

button:hover::before {
  transform: scaleX(1);
}

.loader {
  width: 36px;
  height: 36px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: darkgoldenrod transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
